<html>

<head>
  <script>
    function _(el) {
      return document.getElementById(el);
    }
    var file_id=0;
    function uploadFile(fileid=0) {
      file_id= fileid
      console.log(_("file1").files.length)
      //for (file of _("file1").files) {
      if(_("file1").files.length> file_id) 
      { 
        file=_("file1").files[file_id]
        //var file = _("file1").files[0];
        //alert(file.name+" | "+file.size+" | "+file.type);
        var formdata = new FormData();
        formdata.append("file1", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", ""); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
        //use file_upload_parser.php from above url
        ajax.send(formdata);
      }
    }

    function progressHandler(event) {
      _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
      var percent = (event.loaded / event.total) * 100;
      _("progressBar").value = Math.round(percent);
      _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
    }

    function completeHandler(event) {
      _("status").innerHTML = event.target.responseText;
      _('status_file_list').innerHTML += JSON.parse(event.target.responseText).files.file1.name+'<br>';
      _("progressBar").value = 0; //wil clear progress bar after successful upload
      file_id++
      uploadFile(file_id)
    }

    function errorHandler(event) {
      _("status").innerHTML = "Upload Failed";
    }

    function abortHandler(event) {
      _("status").innerHTML = "Upload Aborted";
    }
  </script>

</head>

<body>


  <h2>HTML5 File Upload Progress Bar Tutorial</h2>
  <form id="upload_form" enctype="multipart/form-data" method="post">
    <input type="file" name="file1" id="file1" onchange="uploadFile()" multiple="multiple"><br>
    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
    <h3 id="status"></h3>
    <p id="loaded_n_total"></p>
  </form>
  <div id=status_file_list>
  </div> 
</body>

</html>